@import 'tailwindcss';

@font-face {
  font-family: ComicNeue;
  src: url('/assets/Comic_Neue/ComicNeue-Regular.ttf');
}
@font-face {
  font-family: ComicNeueBold;
  src: url('/assets/Comic_Neue/ComicNeue-Bold.ttf');
}
@font-face {
  font-family: ComicNeueItalic;
  src: url('/assets/Comic_Neue/ComicNeue-Italic.ttf');
}

.hover_scale {
  transition: scale 0.25s; /* transition the scale propety */
}
.hover_scale:hover {
  scale: 1.14;
}

html,
body {
  background: #6c4366;
  font-family: ComicNeueBold;
}

.retro-window {
  background: #e899dc;
  border: 0.18rem solid black;
  z-index: 10;
  box-shadow: 0.6rem 0.4rem 0.2rem rgba(0, 0, 0, 0.25);
}

.retro-window:before {
  content: '';
  position: absolute;

  border-bottom: 0.4rem solid #f4b5ea;
  border-top: 1.3rem solid #f4b5ea;
  border-left: 0.4rem solid #f4b5ea;
  border-right: 0.4rem solid #f4b5ea;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
}

.retro-window:after {
  content: '';
  position: absolute;

  border: 0.18rem solid black;

  top: 1.3rem;
  left: 0.4rem;
  right: 0.4rem;
  bottom: 0.4rem;

  z-index: -3;
}

.retro-input {
  background-color: #bfedef;
  padding: 0.1rem 0.3rem;
  border: 2px solid black;
}

.game-input {
  background-color: #f4b5ea;
  padding: 0.1rem 0.3rem;
  border: 2px solid black;
  color: #98518e;
  z-index: -5;
}

*:focus {
  outline: none;
}
